@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

:root {
  --bg-gradient: linear-gradient(90deg, #c91842 0%, #5cc2e2 100%);

  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/bg.jpg");
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;

  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

body * {
  font-size: 1.6rem;
  font-family: "Sen", sans-serif;
  color: #fff;
}

header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 3rem;
}

h1 {
  font-size: 15rem;
  text-shadow: 0px 10px 10px rgba(255, 255, 255, 0.2);
}

.bg-container {
  background-image: var(--bg-gradient);
  padding-top: 4px;
  border-radius: 10px;

  width: min(90%, 800px);

  margin: 15rem auto 0;
}

.container {
  background-color: #262629;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;

  text-align: center;

  border-radius: 4px;
}

.container p {
  margin-bottom: 2rem;
}

.container p,
.container strong {
  font-size: 4rem;
}

form {
  width: 70%;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

form input {
  width: 70%;
  height: 100%;

  color: #262629;
  font-size: 2rem;

  padding: 0.5rem;

  border-radius: 4px;
  border: none;
}

form input:focus {
  outline: none;
  box-shadow: 0 5px 15px 5px rgba(255, 255, 255, 0.13);
}

form button {
  height: 100%;
  width: 12rem;
  font-size: 2rem;

  background: var(--bg-gradient);
  border-radius: 4px;

  border: none;

  cursor: pointer;
  z-index: 1;
  position: relative;
}

form button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: linear-gradient(-90deg, #c91842 0%, #5cc2e2 100%);
  z-index: -1;

  transition: opacity 0.5s linear;
  opacity: 0;

  border-radius: 4px;
}

form button:hover::before {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 10rem;
  }

  .bg-container {
    margin: 18rem auto 0;
  }

  .container p,
  .container strong {
    font-size: 2.5rem;
  }
}
