<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Join US</title>
  </head>
  <body>
    <header>
      <h1>JOIN US</h1>
    </header>
    <div class="bg-container">
      <div class="container">
        <p>
          Enter your email to join <strong><%= count %></strong> others on our
          waitlist. We are 100% not a cult.
        </p>
        <form method="POST" action="/register">
          <input type="email" name="email" placeholder="Enter Your Email" />
          <button type="submit">Join Now</button>
        </form>
      </div>
    </div>
    <footer>
      <small>Made with love by Nic ❤️</small>
    </footer>
  </body>
</html>
